* {
    outline: none !important;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}
body {
    background-color: #FFFFFF;
    padding-top: 70px;
}
textarea {
    resize: none;
}
.success-text {
    color: green;
}
.failure-text {
    color: red;
}
.hide {
    display: none;
}
.jumbotron {
    background-color: inherit !important;
}
.login {
    height: 100vh;
    margin: auto auto;
}
.new-post {
    margin-bottom: 24px;
}
.new-post > textarea {
    margin-bottom: 12px;
}
.message-list > .message.row {
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

.message {
    margin-bottom: 24px;
}

.btn {
    width: 132px;
}
.message > .top-row > div:first-child {
    font-size: 16px;
}
.message > .row {
    font-size: 12px;
    line-height: 24px;
}
.message > .row > div:last-child {
    text-align: right;
}
